body {
    background-color: #006400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
  }
  .cell {
    background-color: #004d00;
    border: 2px solid #003300;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cell.active {
    background-image: url('../../img/img.png');
    background-size: cover;
    background-position: center;
  }